@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = ViewData["CrumbExpStore"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

    var session = HttpContextAccessor.HttpContext.GetSessionUser();

    string apiList = "/Admin/MaterialExpStore/GridDataOfUser";
    var userType = 0;
    bool isAdmin = false;
    if (session.UserType == 10)
    {
        apiList = "/Admin/MaterialExpStore/GridDataOfAdmin";
        userType = 10;
        isAdmin = true;
    }
    else
    {
        var perJtable = session.GetPermission("MaterialExpStore", "GridDataOfAdmin");
        if (perJtable != null)
        {
            apiList = perJtable.ResourceApi;
            userType = 10;
        }
        else
        {
            perJtable = session.GetPermission("MaterialExpStore", "GridDataOfBranch");
            if (perJtable != null)
            {
                apiList = perJtable.ResourceApi;
                userType = 2;
            }
        }
    }
    bool hasPermissionMaterialExpStoreInsert = session.HasPermission(CommonUtil.Controller_MaterialExpStore, CommonUtil.Action_Insert);
    bool hasPermissionMaterialExpStoreUpdate = session.HasPermission(CommonUtil.Controller_MaterialExpStore, CommonUtil.Action_Update);
    bool hasPermissionMaterialExpStoreDelete = session.HasPermission(CommonUtil.Controller_MaterialExpStore, CommonUtil.Action_Delete);

    bool hasPermissionMaterialProductsInsert = session.HasPermission(CommonUtil.Controller_MaterialProduct, CommonUtil.Action_Insert);
    bool hasPermissionMaterialProductsUpdate = session.HasPermission(CommonUtil.Controller_MaterialProduct, CommonUtil.Action_Update);
    bool hasPermissionMaterialProductDelete = session.HasPermission(CommonUtil.Controller_MaterialProduct, CommonUtil.Action_Delete);
    bool hasPermissionCustomerAddCard = session.HasPermission(CommonUtil.Controller_Customer, CommonUtil.Action_Insert_Card);
    var sessionLanguage = HttpContextAccessor.HttpContext.Session;
    byte[] value;
    var idObject = 0;
    if (sessionLanguage.IsAvailable)
    {
        var boolValue = sessionLanguage.TryGetValue("IdObject", out value);
        if (boolValue)
        {
            byte[] temp = new byte[4];
            if (BitConverter.IsLittleEndian)
            {
                temp = Enumerable.Reverse(value).ToArray();
            }
            idObject = BitConverter.ToInt32(temp, 0);
        }
    }
    var isAllData = session.IsAllData;
}
@section plugin_style{

    <link href="~/css/admin/cardJob/board.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
}

@section plugin_script {
    <script src="~/lib/assets/global/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/config.tinymce.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/js/admin/cardjob/popover.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-scroll/angular-scroll.js"></script>
    <script src="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/lib/assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHceKL6LCQusky6nFYduGFGcg4UKyTI6o&libraries=places"
            type="text/javascript"></script>
}
<div id="contentMain" ng-app="App_ESEIM_EXPORTSTORE" ng-controller="Ctrl_ESEIM_EXPORTSTORE">
    <div ng-controller="Ctrl_ESEIM_CUSTOMER"></div>
    <div ng-controller="Ctrl_ESEIM_MATERIAL_PROD"></div>
    <div ng-view></div>
</div>
<script>
    var PERMISSION_MaterialExpStore = {
        LIST: '@(apiList)',
        userType: @userType,
        IsAdmin: @(isAdmin ? "true" : "false"),
        Insert: @(hasPermissionMaterialExpStoreInsert ? "true" : "false"),
        Update: @(hasPermissionMaterialExpStoreUpdate ? "true" : "false"),
        Delete: @(hasPermissionMaterialExpStoreDelete ? "true" : "false"),
    };
     var PERMISSION_CUSTOMER = {
        AddCard: @(hasPermissionCustomerAddCard ? "true" : "false"),
    }

    var PERMISSION_MATERIAL_PRODUCT = {
        Insert: @(hasPermissionMaterialProductsInsert ? "true" : "false"),
        Update: @(hasPermissionMaterialProductsUpdate ? "true" : "false"),
        Delete: @(hasPermissionMaterialProductDelete ? "true" : "false"),
    };
    var isAllData = "@(isAllData)";
    var idObject = @idObject;
</script>
<script src="~/views/admin/materialExpStore/controller.js" type="text/javascript"></script>
<script src="~/views/admin/customer/controller.js" type="text/javascript"></script>
<script src="~/views/admin/cardJob/controller.js" type="text/javascript"></script>
<script src="~/views/admin/project/controller.js" type="text/javascript"></script>
<script src="~/views/admin/customer/controller.js" type="text/javascript"></script>
<script src="~/views/admin/supplier/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contract/controller.js" type="text/javascript"></script>
<script src="~/views/admin/contractPo/controller.js" type="text/javascript"></script>
<script src="~/views/admin/sendRequestWorkPrice/controller.js" type="text/javascript"></script>
<script src="~/views/admin/serviceCategory/controller.js" type="text/javascript"></script>
<script src="~/views/admin/attributeManager/controller.js" type="text/javascript"></script>
<script src="~/views/admin/materialProduct/controller.js" type="text/javascript"></script>
<script src="~/views/admin/edmsRepository/controller.js" type="text/javascript"></script>
<script src="~/views/admin/filePlugin/controller.js" type="text/javascript"></script>
<script src="~/views/admin/workflowPlugin/controller.js" type="text/javascript"></script>
<script src="~/views/admin/workflowActivity/controller.js" type="text/javascript"></script>
<script src="~/views/admin/payDecision/controller.js" type="text/javascript"></script>
