 <!-- Left side column. contains the logo and sidebar -->
@using ESEIM.Utils
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Localization
@using III.Admin.Controllers
@inject IParameterService ParameterService
@inject IHttpContextAccessor HttpContextAccessor
@inject ILanguageService LanguageService
@inject IStringLocalizer<CrawlerMenuController> Localizer
@{
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
}
<link href="../../../css/admin/cardJob/sideNavLeft.css" rel="stylesheet" />
<style>
    .table-custom {
        min-height: unset;
    }

    .popover {
        max-width: 300px;
        left: -145.5703px !important;
        top: 50px !important;
    }

    .custom-shadow-box {
        box-shadow: 3px 3px 3px #042906ee !important;
    }

    .img-check-in:hover {
        box-shadow: 2px 2px 2px 2px #80c196;
        border-radius: 4px;
    }

    .img-check-out:hover {
        box-shadow: 2px 2px 2px 2px #9a9797;
        border-radius: 13px;
    }

    .search-advantage-mode {
        padding-left: 0px !important;
    }

    .has-branch-department {
        bottom: -15px;
    }

    .jstree-default .jstree-clicked {
        background: #fff !important;
    }

    .ui-tabs-scrollable > .nav-button.left-nav-button {
        top: 3px;
    }

    .ui-tabs-scrollable > .nav-button.right-nav-button {
        top: 3px;
    }

    .nav-header {
        width: 50px;
        float: left;
    }

    .nav-search {
        width: 280px;
        float: right;
    }

    .nav-body {
        width: 280px;
        float: right;
    }

    .custom-btn-nav-left {
        border: 1px solid transparent;
        transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
        padding-left: 10px;
        padding-right: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #acb3b9;
        box-shadow: 2px 2px 5px #acb3b9;
        transform: rotate( 90deg );
        margin-top: 6px;
        margin-right: -15px;
    }

    .custom-nav-lef-checkbox > .span-checkbox:after {
        left: 10px !important;
        top: 6px !important;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate( 45deg );
    }

    .span-checkbox {
        background-color: blueviolet !important;
        color: black !important;
        border-radius: 50%;
        padding: 12px;
    }

    #boardAll:hover {
        color: #337ab7 !important;
    }

    .Sidebar {
        width: 225px;
        height: 680px;
        overflow: unset;
        background: #FFFFFF;
        padding-top: 90px !important;
    }

    .Sidebar1 {
        /*padding-left: 15px;*/
        font-family: 'Roboto' !important;
        width: 225px;
        height: calc(100vh - 100px);
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .User {
        padding-top: 50px;
        margin-left: 115px;
        width: 149px;
        height: 167px;
        left: 102px;
        top: 50px;
    }

        .User > img {
            width: 130px;
            height: 60px;
            padding-left: 20px;
        }

    .text1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        text-align: center;
        color: #000000;
    }

    .text2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */
        text-align: center;
        color: #7A7E86;
    }

    .item_menu {
        padding-top: 35px;
        width: 232px;
        height: 60px;
        left: 60px;
        top: 200px;
    }

        .item_menu > div {
            width: 200px;
            height: 55px;
            /* Blue 01 */
            margin-left: 50px;
            background: #1294F2;
            border-radius: 18px;
            border: 0px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px !important;
            line-height: 27px;
            text-align: center;
            padding-top: 15px;
            /* identical to box height */
            color: #FFFFFF;
        }

            .item_menu > div > a {
                float: left;
                padding-left: 21px;
                color: #FFFFFF;
            }

            .item_menu > div > img {
                float: left;
                padding-left: 27px;
            }

    .Group {
        margin-left: 25px;
        /*padding-top: 50px;*/
        width: 250px;
        height: 30px;
    }

        .Group > div {
            width: 250px;
            padding-top: 10px;
            padding-bottom: 10px;
            /*font-family: Poppins;*/
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 27px;
            /* identical to box height */
            color: #7A7E86;
        }

            .Group > div img {
                /*padding-right: 15px;*/
                width: 23px;
            }

            .Group > div > a {
                color: black;
                padding-left: 10px;
                font-size: 13px;
            }

    div > div > div > ul > li > a > img {
        /*color: black;*/
        font-size: 16px;
        width: 25px;
    }

    /*.Group > div > div > i {
        padding-left: 46px;
        font-size: 150%;
    }*/

    .Group > div i {
        font-size: 23px;
        width: 23px;
    }

    a:hover {
        text-decoration: underline;
    }

    hr.dashed {
        border-top: 1px dashed #bbb;
    }
</style>
<!--<div class="row h100">-->
<!--nav left-->
<div class="Sidebar sidenav">


    <div class="Sidebar1">
        <!--<div class="User">
            <img src="/images/logo/android.png" ng-src="{{pictureUser}}" alt="" onerror="this.src='../../../images/default/no_user.png'" />
            <div class="text1">{{fullName}}</div>-->
        <!--<div class="text2">Computer Science</div>-->
        <!--</div>-->
        <!--<div class="item_menu">
        </div>-->
        <div class="Group">
            <div class="pt25">
                <img src="/images/default/dashboard-icon-11.jpg" alt="" />
                @*<i class="fas fa-laptop color-cf-blue" style1="font-size:200%"></i>*@
                <a href="">@Localizer["CRAWLER_MENU_DASHBOARD"]</a>
            </div>
            @*            <div>
            <i class="fas fa-keyboard " style="font-size:200%;padding-left:2px;"></i>
            <a href="/Admin/KeyWords">@Localizer["Key Words"]</a>
        </div>*@
            @*            <div>
            <i class="fas fa-robot " style="font-size:200%"></i>
            <a href="/Admin/BotManagement">@Localizer["Bot Management"]</a>
        </div>*@
            <div>
                <img src="/images/default/robot.png" alt="" />
                @*<i class="fas fa-globe color-cf-blue" style1="font-size:200%;padding-left:4px"></i>*@
                <a href="/Admin/BotManagement">@Localizer["CRAWLER_MENU_INFO"]</a> @*CRAWLER_URL_MANAGEMENT*@
            </div>

            <div>
                <img src="/images/default/bot_run.svg" alt="" />
                @*<i class="fas fa-spider-black-widow color-dark" style1="font-size:200%;"></i>*@
                <a href="/Admin/BotRunning">@Localizer["CRAWLER_MENU_SESSION"]</a>

            </div>
            <div>
                <img src="/images/default/history_time.svg" alt="" />
                @*<i class="fas fa-globe color-cf-blue" style1="font-size:200%;padding-left:4px"></i>*@
                <a href="/Admin/BotSessionManagement">@Localizer["CRAWLER_MENU_HISTORY"]</a> @*CRAWLER_URL_MANAGEMENT*@
            </div>
            <hr class="dashed" style="width:80%;margin:10px 0" />
            <div>
                <img src="/images/default/social-media.png" alt="" />
                @*<img src="/images/icons/Social-icon-1.png" alt="" />*@
                @*<i class="fas fa-chart-network color-cf-blue" style1="font-size:200%"></i>*@
                <a href="/Admin/LmsAssignment">@Localizer["CRAWLER_MENU_SOCIAL_NETWORK"]</a>
                <div style="padding: 10px 0px 0px 48px; width: 180px;">
                    <div class="btn-group d-flex actions" style1="margin-top: -50px;">
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/FacebookSocial">
                                <img src="/images/default/facebook.png" alt="" />
                                @*<span><i class="fab fa-facebook"></i></span>*@
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["CRAWLER_MENU_FACEBOOK"]</p>
                        </div>
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/InstagramSocial">
                                <img src="/images/default/instagram.png" alt="" />
                                @*<span><i class="fab fa-instagram"></i></span>*@
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["CRAWLER_MENU_INSTAGRAM"]</p>
                        </div>
                    </div>
                    <div class="btn-group d-flex actions" style1="margin-top: -50px;">
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/YoutubeSocial">
                                <img src="/images/default/youtube.png" alt="" />
                                @*<span><i class="fab fa-youtube"></i></span>*@
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["CRAWLER_MENU_YOUTUBE"]</p>
                        </div>
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/TelegramSocial">
                                <img src="/images/default/telegram.png" alt="" />
                                @*<span><i class="fab fa-telegram"></i></span>*@
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["CRAWLER_MENU_TELEGRAM"]</p>
                        </div>
                    </div>
                    <div class="btn-group d-flex actions" style1="margin-top: -50px;">
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/TwitterSocial">
                                <img src="/images/default/twitter.png" alt="" />
                                @*<span><i class="fab fa-twitter"></i></span>*@
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["CRAWLER_MENU_TWITTER"]</p>
                        </div>
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/TiktokSocial">
                                <img src="/images/default/tik-tok.png" alt="" />
                                @*<span><i class="fab fa-tiktok"></i></span>*@
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["CRAWLER_MENU_TIKTOK"]</p>
                        </div>
                    </div>
                    <div class="btn-group d-flex actions" style1="margin-top: -50px;">
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/ZaloSocial">
                                @*     <img src="/images/default/twitter.png" alt="" />*@
                                <img src="../../../images/icons/zalo_icon.png" />
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["Zalo"]</p>
                        </div>
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/LinkedinSocial">
                                <img src="/images/icons/linkedin.png" alt="" />
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["Linkedin"]</p>
                        </div>

                    </div>
                    <div class="btn-group d-flex actions" style1="margin-top: -50px;">
                        <div class="text-center w-60 pr-2">
                            <a href="/Admin/QuoraSocial">
                                @*     <img src="/images/default/twitter.png" alt="" />*@
                                <img src="../../../images/icons/quora.png" />
                            </a>
                            <p class="fs13 mb5 pt3 ng-binding">@Localizer["Quora"]</p>
                        </div>
                        <div class="text-center w-60 pr-2">
                            <!--<a href="/Admin/QuoraSocial">-->
                            @*     <img src="/images/default/twitter.png" alt="" />*@
                            <!--<img src="../../../images/icons/quora.png"  />
                    </a>
                    <p class="fs13 mb5 pt3 ng-binding">@Localizer["Quora"]</p>-->
                        </div>
                    </div>
                </div>
                <div>
                    @*
                    *@ <i class="fas fa-globe color-cf-blue" style1="font-size:200%;padding-left:4px"></i>
                    <a href="/Admin/BotSocialManagement">@Localizer["CRAWLER_MENU_BOT_MANA_SOCIAL"]</a> @*CRAWLER_URL_MANAGEMENT*@
                </div>
            </div>
            <hr class="dashed" style="width:80%;margin:10px 0" />


            <div>
                <img src="/images/default/robot.png" alt="" />
                @*<i class="fas fa-spider-black-widow color-cf-blue" style1="font-size:200%;"></i>*@
                <a href="/Admin/BuffaloInstantRunning">@Localizer["D/S Máy Đào Dữ Liệu"]</a>
            </div>

            <div>
                <img src="/images/default/research.png" alt="" />
                @*<i class="fas fa-spider-black-widow color-cf-blue" style1="font-size:200%;"></i>*@
                <a href="/Admin/BuffaloChannel">@Localizer["Các Kênh Websync"]</a>
            </div>

            <div>
                <img src="/images/default/research.png" alt="" />
                @*<i class="fas fa-spider-black-widow color-cf-blue" style1="font-size:200%;"></i>*@
                <a href="/Admin/BuffaloServerChannel">@Localizer["Các Máy Chủ Websync"]</a>
            </div>

            <div>
                <img src="/images/default/schedule.png" alt="" />
                @*<i class="fas fa-spider-black-widow color-cf-blue" style1="font-size:200%;"></i>*@
                <a href="/Admin/ScheduleManagement">@Localizer["CRAWLER_MENU_SCHEDULE_MANAGE"]</a>
            </div>

            <div>
                <img src="/images/default/research.png" alt="" />
                @*<i class="fas fa-database color-dark" style1="font-size:200%"></i>*@
                <a href="/Admin/RepositoryCrawler">@Localizer["CRAWLER_MENU_RESULT_DATA"]</a>
            </div>
            <div>
                <img src="/images/Icon_Dashbord/icon_report.png" alt="" />
                @*<i class="fas fa-file-chart-pie color-dark" style1="font-size:200%"></i>*@
                <a href="/Admin/ReportSummary">@Localizer["CRAWLER_MENU_REPORT_SUMMARY"]</a>
            </div>
            <div>
                <img src="/images/Icon_Dashbord/keygen.png" alt="" />
                @*<i class="fas fa-file-chart-pie color-dark" style1="font-size:200%"></i>*@
                <a href="/Admin/IwindoorKeygenManagement">@Localizer["KeyGen Management"]</a>
            </div>

            @*<div>
            <img src="/images/Icon_Dashbord/icon_exambank.png" alt="" />
            <a href="/Admin/LmsExam">@Localizer["LMS_SBL_A_EXAM_BANK"]</a>
        </div>
        <div>
            <img src="/images/Icon_Dashbord/icon_studydocument.png" alt="" />
            <a href="/Admin/LmsCourseware">@Localizer["LMS_SBL_A_STUDY_DOCUMENT"]</a>
        </div>
        <div>
            <img src="/images/Icon_Dashbord/icon_document.png" alt="" />
            <a href="/Admin/LmsDocument">@Localizer["LMS_SBL_A_DOCUMENT"]</a>
        </div>
        <div>
            <img src="/images/Icon_Dashbord/icon_onlineclass.png" alt="" />
            <a href="/Admin/LmsTutoringSchedule">@Localizer["LMS_SBL_A_ONLINE_CLASSES"]</a>
        </div>
        <div>
            <img src="/images/lms/to-do-list.png" alt="" />
            <a href="/Admin/LmsTaskManagement">Tạo nhiệm vụ</a>
        </div>
        <div>
            <img src="/images/lms/add-user.png" alt="" />
            <a href="#">Học viên</a>
        </div>
        <div>
            <img src="/images/Icon_Dashbord/icon_examonline.png" alt="" />
            <a href="/Admin/LmsExamSchedule">@Localizer["LMS_SBL_A_ONLINE_EXAM"]</a>
        </div>
        <div>
            <img src="/images/Icon_Dashbord/icon_report.png" alt="" />
            <a href="/Admin/LmsDashBoard#showStat">@Localizer["LMS_SBL_A_REPORT_STATISTICS"]</a>
        </div>
        <div>
            <img src="/images/Icon_Dashbord/icon_generalconfig.png" alt="" />
            <a href="/Admin/LmsCommonSetting">@Localizer["LMS_SBL_A_GENERAL_CONFIGURATION"]</a>
        </div>*@
        </div>
    </div>
</div>
<script>
    var sessionCode = "";
    function create_UUID() {
        var dt = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = (dt + Math.random() * 16) % 16 | 0;
            dt = Math.floor(dt / 16);
            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
        return uuid;
    }
    function setSessionCode(sessionCode) {
        jQuery.ajax({
            beforeSend: function (jqXHR, settings) {
                App.blockUI({
                    target: "html",
                    boxed: true,
                    message: 'loading...'
                });
            },
            type: "POST",
            url: "/Admin/LmsDashBoard/SetLmsSessionCode?sessionCode=" + sessionCode,
            contentType: "application/json",
            success: function (rs) {
                App.unblockUI("html");
                //App.toastrSuccess(rs.Title);
                console.log(rs.Title);
            },
            failure: function (errMsg) {
                App.toastrSuccess(errMsg);
            }
        });
    }
    jQuery.ajax({
        beforeSend: function (jqXHR, settings) {
            App.blockUI({
                target: "html",
                boxed: true,
                message: 'loading...'
            });
        },
        type: "POST",
        url: "/Admin/LmsDashBoard/GetLmsSessionCode",
        contentType: "application/json",
        success: function (rs) {
            App.unblockUI("html");
            //App.toastrSuccess(rs.Title);
            if (rs == null || rs == '' || rs == undefined) {
                sessionCode = create_UUID();
                setSessionCode(sessionCode);
            }
            else {
                sessionCode = rs;
                console.log(sessionCode);
            }
        },
        failure: function (errMsg) {
            App.toastrError(errMsg);
        }
    });

    //var biggestHeight = 0;

    //$("body *").each(function () {
    //    // If this elements height is bigger than the biggestHeight
    //    if ($(this).height() > biggestHeight) {
    //        // Set the biggestHeight to this Height
    //        biggestHeight = $(this).height();
    //    }
    //});

    //$("body").height(biggestHeight);
</script>
<!--end left-->
